# Use postgres/example user/password credentials
version: "3.1"

services:
  db:
    image: postgres
    volumes:
      - ~/www/pgdata:/var/lib/postgresql/data
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: pro
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
