<!DOCTYPE html>
<html>
  <head>
    <title>Clone ProcessOn</title>
  </head>
  <style>
    :root {
      --primary-color: #067bef;
      --border: #eee;
      --input: #d9d9d9;
      --error: #dc2626;
    }
    * {
      margin: 0;
      padding: 0;
      font-size: 12px;
      box-sizing: border-box;
    }
    a {
      color: var(--primary-color);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    header {
      margin: 24px 0;
    }
    body {
      font-size: 14px;
      background-color: #f6f7f8;
    }
    input[type="submit"],
    button {
      padding: 8px 24px;
      font-size: 14px;
      border: 1px solid var(--border);
      cursor: pointer;
      border-radius: 4px;
    }
    input[type="password"],
    input[type="email"],
    input[type="text"] {
      padding: 8px 12px;
      border: 1px solid var(--input);
      width: 100%;
    }
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="text"]:focus {
      outline-offset: 2px;
      outline: 2px solid var(--primary-color);
    }
    .block {
      display: block;
    }
    .w-full {
      width: 100%;
    }
    .btn:hover {
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
    .btn {
      cursor: pointer;
      padding: 8px 12px;
      background-color: #f1f1f1;
      border: 1px solid var(--border);
      color: #212930;
      text-decoration: none;
      border-radius: 2px;
      text-align: center;
    }
    .btn-primary {
      background: var(--primary-color);
      color: #fff;
      border: 1px solid var(--primary-color);
    }
    .btn-primary:hover {
      color: #fff;
      border: 1px solid var(--primary-color);
    }
    #list {
      margin-top: 16px;
      background: #fff;
      border: 1px solid var(--border);
      padding: 8px;
    }
    form > div {
      margin-top: 24px;
    }
    .empty {
      text-align: center;
      padding: 24px;
    }
    .ml-2 {
      margin-left: 8px;
    }
    .flex {
      display: flex;
    }
    .justify-between {
      justify-content: space-between;
    }
    .items-center {
      align-items: center;
    }
    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .max-w-5xl {
      max-width: 1024px;
    }
    .w-2\/5 {
      width: 40%;
      border: 1px solid var(--border);
      padding: 24px;
      background: #fff;
      margin: auto;
    }
    h1 {
      font-size: 16px;
    }
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 2px solid var(--border);
      background: rgba(6, 122, 239, 0.2);
    }
    .border-b {
      border-bottom: 1px solid var(--border);
      line-height: 2.5;
    }
    .border-b:last-child {
      border: 0;
    }
    .login-warper {
      display: flex;
      height: 80vh;
    }
    .message {
      border: 1px solid var(--error);
      padding: 8px 12px;
      color: var(--error);
      background-color: #fee2e2;
      border-radius: 2px;
    }
  </style>
  <body>
    <div class="max-w-5xl mx-auto">
      <header class="flex justify-between items-center">
        <h1>Clone ProcessOn</h1>
        <span class="flex items-center" id="user-info"></span>
      </header>
      <div id="container"></div>
    </div>
    <script src="./scripts_bin/zh/jquery.js"></script>
    <script>
      $.ajaxSetup({
        cache: false,
      });

      $(document).on("ajaxError", function (e, request) {
        switch (request.status) {
          case 500:
            console.log("服务器错误");
          case 401:
            showLogin();
        }
      });
      $(document).on("submit", "form", function (e) {
        $(".js-message").html("");
        e.preventDefault();
        let oForm = $(this);
        let url = oForm.attr("action");
        let method = oForm.attr("method");
        let data = oForm.serializeArray();
        let formData = {};
        for (const item of data) {
          if (item.value === "") {
            $(".js-message").html(
              `<div class="message">请输入${item.name}</div>`
            );
            return;
          } else {
            formData[item.name] = item.value;
          }
        }
        $.ajax({
          url,
          type: method,
          data,
          success: (res) => {
            if (res.message) {
              $(".js-message").html(
                `<div class="message">${res.message}</div>`
              );
            }
            if (res.success) {
              getUser();
            }
          },
        });
      });
      function showLogin() {
        $("#user-info").html("");
        $("#container").html(
          `<div class="login-warper"><div class="w-2/5">
            <h2>欢迎回来</h2>
            <form method="POST" action="/api/auth/signin">
              <div><input value="test@test.com" placeholder="邮箱" type="email" name="email" /></div>
              <div><input value="123456" placeholder="密码" minLength="6" maxLength="20" type="password" name="password" /></div>
              <div><button type="submit" class="btn btn-primary block w-full">登录</button></div>
              <div class="js-message"></div>
              <div><a class="btn block w-full" href="/api/github/login">GitHub 账号登录</a></div>
              <div>如果您没有账号，您可以 <a href="javascript:showRegister()">立即注册</a></div>
            </form>
          </div></div>`
        );
      }

      function showRegister() {
        $("#container").html(`
        <div class="login-warper">
        <div class="w-2/5">
          <h2>创建一个账号</h2>
          <form method="POST" action="/api/auth/register">
            <div><input placeholder="邮箱" type="email" name="email" /></div>
            <div><input placeholder="昵称" maxLength="20" type="text" name="name" /></div>
            <div><input placeholder="密码" minLength="6" maxLength="20" type="password" name="password" /></div>
            <div><button type="submit" class="btn btn-primary block w-full">注册</button></div>
            <div>已有账号，您可以 <a href="javascript:showLogin()">立即登录</a></div>
            <div class="js-message"></div>
            <div>测试账号：test@test.com 密码 123456</div>
          </form>
        </div></div>`);
      }
      function getList() {
        $.get("/diagraming", (res) => {
          const { list = [] } = res;
          if (list.length > 0) {
            let html = "";
            list.forEach((item) => {
              html += `<div class="flex justify-between border-b">
            <a href="/diagraming/${item.id}">${item.title}</a>
            <span><span>${new Date(item.lastModify).toLocaleString()}</span>
            <a class="ml-2" href="/view/${item.id}">查看</a>
            <a class="ml-2 js-remove" href="javascript:;" data-id="${
              item.id
            }">删除</a></span>
          </div>`;
            });
            $("#list").html(html);
          } else {
            $("#list").html(`<div class="empty">暂无数据</div>`);
          }
        });
        bindRemove();
      }

      function bindRemove() {
        $(document).on("click", ".js-remove", (e) => {
          const id = $(e.target).data("id");
          console.log(id);
          $.post("/diagraming/remove", { id }, (res) => {
            getList();
          });
        });
      }

      function bindCreate() {
        $(document).on("click", "#create", () => {
          $.post(
            "/diagraming/create",
            {
              title: "未命名文件",
            },
            (res) => {
              window.location.href = `/diagraming/${res.id}`;
            }
          );
        });

        $(document).on("click", "#signout", () => {
          $.post("/api/auth/signout", (res) => {
            getUser();
          });
        });
      }

      function getUser() {
        $.get("/api/user/me", (res) => {
          $("#user-info").html(
            `
            <img class="avatar" src="https://api.dicebear.com/7.x/notionists/svg?seed=${res.email}" alt="${res.name}"/>
            <button  class="ml-2 btn" id="signout">退出</button> `
          );
          $("#container").html(
            `<div> 
                <div> <button class="btn btn-primary" id="create">+ 新建流程图</button></div> 
                <div id="list"></div>
              </div>`
          );
          getList();
          bindCreate();
        });
      }
      getUser();
    </script>
  </body>
</html>
